<div class="container-fluid">
	<div class="navbar-header">
		{{#link-to "home"}}<a href="#" class="navbar-brand">EMPRESA</a>{{/link-to}}
	</div>

	<ul class="nav navbar-nav">
		<li>{{#link-to "clientes.index"}}<a href="#">Cliente</a>{{/link-to}}</li>
		<li>{{#link-to "empleados.index"}}<a href="#">Empleado</a>{{/link-to}}</li>
		<li>{{#link-to "productos.index"}}<a href="#">Producto</a>{{/link-to}}</li>
	</ul>
</div>