<div class="container">
  <div class="row"  >
    <div class="col-sm-8 col-sm-offset-2 fondo">
		<div class="form-group">
			<p>
		  	{{link-to "Regresar" "productos.index" }}
			</p>
		</div>
		<div class="form-group">
			<center><h1 class="fondow">Nuevo Producto</h1></center>
			{{partial "productos/form"}}
		</div>
    </div>
  </div>
</div>