<div class="container">
  <div class="row"  >
    <div class="col-sm-8 col-sm-offset-2 fondo">
      <p>
        {{link-to "Regresar" "productos.index" }}
      </p>

      <center><h1 class="fondow">Mostrar Producto</h1></center>

      <p>
        <strong>Nombre:</strong>
        <span>{{model.nombre}}</span>
      </p>

      <p>
        <strong>Descripcion:</strong>
        <span>{{model.descripcion}}</span>
      </p>

      <p>
        <strong>Precio:</strong>
        <span>{{model.precio}}</span>
      </p>
    </div>
  </div>
</div>